
_ReSharper.SportingSolutions.Udapi.Sdk/*
build/*
*.nupkg
SportingSolutions.Udapi.Sdk.Example.Console/bin/*
SportingSolutions.Udapi.Sdk.Example.Console/obj/*
*.suo
SportingSolutions.Udapi.Sdk/bin/*
SportingSolutions.Udapi.Sdk/obj/*
packages/*
!repositories.config
SportingSolutions.Udapi.Sdk*.zip
*.user