<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="url" value="{url here}"/>
    <add key="echoInterval" value="10000"/>
    <add key="echoMaxDelay" value="3000"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" sendTimeout="00:01:00" >
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>  
  </system.serviceModel>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="SportingSolutions.Udapi.Sdk" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
</configuration>