<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="url" value="http://apiintegration.spints.net/"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" sendTimeout="00:01:00">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>  
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
