<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="https://go.microsoft.com/fwlink/?LinkID=230477" value="https://go.microsoft.com/fwlink/?LinkID=230477" />
    <add key="SportingSolutions" value="http://build.sportingsolutions.com/guestAuth/app/nuget/v1/FeedService.svc" />
  </packageSources>
  <disabledPackageSources>
    <add key="SportingSolutions" value="true" />
  </disabledPackageSources>
</configuration>