<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ss.user" value="integration@jimco"/>
    <add key="ss.password" value="sporting"/>
    <add key="ss.url" value="http://apicui.sportingsolutions.com"/>
    <add key="ss.newFixtureCheckerFrequency" value="60000"/>
    <add key="ss.sequenceCheckerInterval" value="10000" />
    <add key="ss.sequenceDiscrepencyThreshold" value="2" />
    <add key="fixture.log.path" value="L:\StreamMonitor\"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" sendTimeout="00:01:00">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
