<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="user" value="{user}"/>
    <add key="password" value="{password}"/>
    <add key="url" value="{url}"/>
    <add key="newFixtureCheckerFrequency" value="60000"/>
    <add key="startingRetryDelay" value="100" />
    <add key="maxRetryDelay" value="7000" />
    <add key="maxRetryAttempts" value="6" />
    <add key="echoInterval" value="10000" />
    <add key="echoMaxDelay" value="3000" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" sendTimeout="00:01:00">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <!-- The RFC2616 spec recomends that a client should NOT maintain more than 2 connections 
           with any server/proxy to improve response times and avoid congestion. This means highly concurrent, 
           latent web requests require excessive timeout values to avoid timeouts as a result of request queueing
           so the max connections value has been increased -->
      <add address="*" maxconnection="50000" />
    </connectionManagement>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
